html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#screen{
    background-color: black;
    position: relative;
    height: 90%;
    width: 100%;
}

.p1, .p2{
    background-color: #fff;
    position: absolute;
    width: 10px;
    height: 10%;
    transform: translate(-50%,-50%);
    transition: transform 0.3 ease;
}

.b {
    background-color: #fff;
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-50%);
    transition: transform 0.3 ease;
}
